---
layout: page
# The About page.
---

<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <ul class="timeline">
      {% for entry in site.data.timeline %}
        {% if entry.year %}
          <li class="timeline-item period">
            <div class="timeline-info"></div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h2 class="timeline-title">{{ entry.year }}</h2>
            </div>
          </li>
        {% endif %}
        {% for event in entry.events %}
          <li class="timeline-item">
            <div class="timeline-info">
              <span>{{ event.date }}</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h3 class="timeline-title">
                {% if event.url %}
                  <a href="{{ event.url }}" target="_blank">{{ event.title }}</a>
                {% else %}
                  {{ event.title }}
                {% endif %}
              </h3>
              <p>{{ event.description }}</p>
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
